
body{
	background-image:url(13.jpg);
	-webkit-background-size: cover;
	background-size:cover;
	background-attachment:fixed;
	color:white;
	font-family:"century gothic";
	
}

#V{
	text-align:center;
}
form{
	width:45%;
	border:1px solid #ccc;
	background: rgba(0,0,0,.7);
	margin:0 auto;
	padding:20px;
	margin-top:35px;
	
	
}

label{
	font-size:12px;
	display:block;
	width:100%;
	
	
}

input, textarea{
	margin-bottom:20px;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	border:1px solid #9F45FF;
	font-family:"century gothic";
	
}

input:focus, textarea:focus{
	border:2px solid #1668C4;
}

input[type="submit"]{
	margin-bottom:0;
	background:#B978FE;
	border:none;
	font-family:"century gothic";
	
}

input[type="submit"]:hover{
	background:#65A7F9;
	cursor:pointer;
}	

a{
	background-color:#B978FE;
	margin:1px;
	color:WHITE;
	font-size:14px;
	margin-left:20px;
	margin-top:5px;
	padding:10px 30px;
	font-family:"century gothic";
	box-shadow: 0px 5px 0px 1px #4969F5;
	
}
a:hover{
	box-shadow: 0px 2px 0px 0px #03F730;
	background:#E993FF;
	
	
}

a:active{
	box-shadow:none;
}